.text-measurer {
    position: absolute;
    /* visibility: hidden;*/
    height: auto;
    width: auto;
    white-space: nowrap;
    background-color: blue;
    font-family: Arial, helvetica, sans-serif;
    font-size: 14px
}

