<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Write logs to a rolling file by day -->
    <target xsi:type="File" name="file" fileName="Logs/log-${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${message} (at ${logger}) ${exception:format=toString,stackTrace}" />
    <!-- Write logs to the console -->
    <target xsi:type="Console" name="console"
            layout="${longdate} [${level:uppercase=true}] ${message} (at ${logger}) ${exception:format=toString,stackTrace}" />
  </targets>

  <rules>
    <!-- Log all messages with a minimum level of Info -->
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>