.textbox {
    font-size: 32px;
    padding: 2px;
    width: 64px;
    text-align: center;
    margin-right: 4px;
}

.Diagram {
    flex: 1;
}

.DiagramOuterContainer {
    flex: 1;
    min-height: 0px;
    display: flex;
    flex-direction: column;
}
