.clazz-select {
    font-size: 12px;
    padding: 2px;
    width: 500px;
    margin-right: 4px;
}

.textbox {
    font-size: 12px;
    padding: 2px;
    width: 400px;
    margin-right: 4px;
}
